.videoContainer {
  position: relative;
  width: 100%;
  height: 100vh; /* Ajusta la altura según tu necesidad */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.videoBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: grayscale(100%) brightness(50%);
}

/* Difuminado más oscuro en la parte inferior */
.videoContainer::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%; /* Aumenta la altura del difuminado */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.9) 90%, black 100%);
  pointer-events: none; /* Evita interferencias con interacciones */
  z-index: 0;
}

.content {
  position: relative;
  text-align: center;
  color: white;
  z-index: 1;
}

.content h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

.content p {
  font-size: 1.2rem;
  margin-top: 10px;
}

.content button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: #20598E;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.content button:hover {
  background-color: #183c61;
}
