.collectionContainer {
  background-color: #111;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  transition: transform 0.3s ease;
}

.collectionContainer:hover {
  transform: scale(1.05);
}

.imgContainer {
  width: 100%;
  overflow: hidden;
}

.imgContainer img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.infoContainer {
  padding: 1.5rem;
  text-align: center;
}

.title {
  font-size: 1.8rem;
  font-weight: bold;
  color: white;
  margin-bottom: 1rem;
}

.text {
  font-size: 1rem;
  color: #ccc;
  margin-bottom: 2rem;
}

.loadMoreBtn {
  background-color: #ffb400;
  padding: 0.7rem 1.5rem;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  color: black;
  transition: background-color 0.3s;
}

.loadMoreBtn:hover {
  background-color: #ffa000;
}
